---
import Layout from '../layouts/Layout.astro';
import medias from '../data.json';
import Header from '../components/header.astro';
---

<Layout uid="home" template="home">
  <div data-gallery-container class="container">
    <Header />

    <div class="grid-container">
      <div class="grid">
        <h1
          class="grid__item"
          style="--r: 1; --c: 5; --s: 5;"
          data-text-animation-in-duration="0.5"
          data-text-animation-out-duration="0.4"
          data-text-animation-in-delay="0.4"
          data-text-animation
          data-text-animation-split
        >
          Northern <br />Expeditions <br />1970–1978
        </h1>
        <a class="grid__item" href="/1" style="--r: 1; --c: 1; --s: 4">
          <img loading="eager" src={medias[0].url} alt="" />
          <p data-text-animation>
            {medias[0].name}
          </p>
        </a>
        <a class="grid__item" href="/2" style="--r: 2; --c: 4; --s: 3">
          <img loading="eager" src={medias[1].url} alt="" />
          <p data-text-animation>
            {medias[1].name}
          </p>
        </a>
        <a class="grid__item" href="/3" style="--r: 2; --c: 7; --s: 2">
          <img loading="eager" src={medias[2].url} alt="" />
          <p data-text-animation>
            {medias[2].name}
          </p>
        </a>
        <a class="grid__item" href="/4" style="--r: 3; --c: 3; --s: 4">
          <img loading="eager" src={medias[3].url} alt="" />
          <p data-text-animation>
            {medias[3].name}
          </p>
        </a>
        <a class="grid__item" href="/5" style="--r: 4; --c: 1; --s: 4">
          <img loading="eager" src={medias[4].url} alt="" />
          <p data-text-animation>
            {medias[4].name}
          </p>
        </a>
        <p
          class="grid__item"
          style="font-size: 1.45rem; --r: 5; --c: 4; --s: 4;"
          data-text-animation-out-stagger="-0.03"
          data-text-animation
          data-text-animation-split
        >
          Dark spruce forest frowned on either side the frozen waterway. The
          trees had been stripped by a recent wind of their white covering of
          frost, and they seemed to lean toward each other, black and ominous,
          in the fading light. A vast silence reigned over the land. The land
          itself was a desolation, lifeless, without movement, so lonely and
          cold that the spirit of it was not even that of sadness. There was a
          hint in it of laughter, but a laughter more terrible than any
          sadness—a laughter that was mirthless as the smile of the sphinx, a
          laughter cold as the frost and partaking of the grimness of
          infallibility. It was the masterful and incommunicable wisdom of
          eternity laughing at the futility of life and the effort of life. It
          was the Wild, the savage, frozen-hearted Northland Wild.
        </p>
        <a class="grid__item" href="/6" style="--r: 6; --c: 3; --s: 5">
          <img loading="eager" src={medias[5].url} alt="" />
          <p data-text-animation>
            {medias[5].name}
          </p>
        </a>
        <a class="grid__item" href="/7" style="--r: 7; --c: 4; --s: 4">
          <img loading="eager" src={medias[6].url} alt="" />
          <p data-text-animation>
            {medias[6].name}
          </p>
        </a>
        <a class="grid__item" href="/8" style="--r: 8; --c: 1; --s: 3">
          <img loading="eager" src={medias[7].url} alt="" />
          <p data-text-animation>
            {medias[7].name}
          </p>
        </a>
        <p
          class="grid__item"
          style="--r: 9; --c: 4; --s: 3;"
          data-text-animation-out-stagger="-0.03"
          data-text-animation
          data-text-animation-split
        >
          The man strode ahead of the team. He was a young man, tall, strong,
          with light hair and blue eyes, and his face was expressionless as the
          land he traversed. He carried his rifle loosely in his hand, as though
          it were part of his body, and he swung along with the ease of long
          familiarity. The woman followed the sled. She was young, too, and her
          face bore the stamp of the Northland—endurance and patience, and a
          vague hint of suffering. The child, wrapped in furs, slept in the
          sled, its face peaceful and unconscious of the grim struggle being
          waged on its behalf.
        </p>
        <a class="grid__item" href="/9" style="--r: 10; --c: 4; --s: 5">
          <img loading="eager" src={medias[8].url} alt="" />
          <p data-text-animation>
            {medias[8].name}
          </p>
        </a>
      </div>
    </div>
  </div>

  <section class="related">
    <p>You might also like</p>
    <div class="relgrid">
      <a
        class="relgrid__item"
        href="https://tympanus.net/Tutorials/InfiniteCanvas/"
        target="_blank"
      >
        <div
          class="relgrid__item-img"
          style="
            background-image: url(https://tympanus.net/codrops/wp-content/uploads/2025/12/edoardo-lunardi-infinite-canvas-featured-image-400x300.jpg);
          "
        >
        </div>
        <h3 class="relgrid__item-title">
          Infinite Canvas: Building a Seamless, Pan-Anywhere Image Space
        </h3>
      </a>

      <a
        class="relgrid__item"
        href="https://tympanus.net/Tutorials/PalmerDraggablerelgrid/"
        target="_blank"
      >
        <div
          class="relgrid__item-img"
          style="
            background-image: url(https://tympanus.net/codrops/wp-content/uploads/2025/09/palmersgrid-400x300.jpg);
          "
        >
        </div>
        <h3 class="relgrid__item-title">
          Recreating Palmer’s Draggable Product relgrid with GSAP
        </h3>
      </a>

      <a
        class="relgrid__item"
        href="https://tympanus.net/Development/OnScrollTextHighlight/"
        target="_blank"
      >
        <div
          class="relgrid__item-img"
          style="background-image: url(https://tympanus.net/codrops/wp-content/uploads/2024/04/TextHighlight-400x300.jpg)"
        >
        </div>
        <h3 class="relgrid__item-title">
          Some On-Scroll Text Highlight Animations
        </h3>
      </a>

      <a
        class="relgrid__item"
        href="https://tympanus.net/Tutorials/Cinematic3DScroll/"
        target="_blank"
      >
        <div
          class="relgrid__item-img"
          style="
            background-image: url(https://tympanus.net/codrops/wp-content/uploads/2025/11/cinematicGSAP_featured-400x300.jpeg);
          "
        >
        </div>
        <h3 class="relgrid__item-title">
          How to Build Cinematic 3D Scroll Experiences with GSAP
        </h3>
      </a>

      <a
        class="relgrid__item"
        href="https://tympanus.net/Tutorials/TelescopeZoom/"
        target="_blank"
      >
        <div
          class="relgrid__item-img"
          style="
            background-image: url(https://tympanus.net/codrops/wp-content/uploads/2025/10/thumb-3-400x300.png);
          "
        >
        </div>
        <h3 class="relgrid__item-title">
          Layered Zoom Scroll Effect with GSAP ScrollSmoother and ScrollTrigger
        </h3>
      </a>

      <a
        class="relgrid__item"
        href="https://tympanus.net/Tutorials/ShaderAnimationGSAP/"
        target="_blank"
      >
        <div
          class="relgrid__item-img"
          style="background-image: url(https://tympanus.net/codrops/wp-content/uploads/2025/10/animating-shaders-with-gsap-for-your-immersive-website-cover-400x300.jpg)"
        >
        </div>
        <h3 class="relgrid__item-title">
          WebGL Shaders with GSAP: Ripples, Reveals, and Dynamic Blur Effects
        </h3>
      </a>
    </div>
  </section>
</Layout>
